:root {
    --white: #141E46;
    --color1: #8DECB4;
    --color2: #FFF5E0;    
  }

html, body {
    margin: 0;
}

.page {
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background-overlay-div {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
}

.background-text-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20vh 0 0 20vw;
}

.background-overtitle {
    height: fit-content;
    font-family: "Merriweather", serif;
    font-size: 1.03vw;
    color: var(--color2);
    margin: 0;
    padding: 0;
}

.background-title {
    font-family: "Anton", sans-serif;
    font-size: 3vw;
    color: var(--color1);
}

.background-overtitle h2 {
    margin: 0;
    padding: 0;
}

.background-title h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.background-subtitle {
    height: fit-content;
    font-family: "Merriweather", serif;
    color: var(--color2);
}

.background-figure-div {
    margin-top: 5vh;
    margin-right: -20vw;
    width: 90vw;
    rotate: -20deg;
    overflow: hidden;
}

.background-figure-div svg{
    width: 100%;
    z-index: 10;
    fill: var(--color1);
}

.background-div {
    position: fixed;
    width: 100vw;
    background-color: var(--white);
}

@media only screen and (max-width: 768px){
    .background-overlay-div {
        flex-direction: column;
    }

    .background-text-div {
        height: auto;
    }

    .background-overtitle {
        font-size: 3vw;
    }

    .background-title {
        font-size: 6vw;
    }

    .background-subtitle {
        font-size: 2vw;
    }

    .background-figure-div {
        rotate: -20deg;
        width: auto;
        margin-right: -60vw;
        margin-left: 20vw;
    }
}

.social-div {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 0 0 0 2vw;
    z-index: 1000;
    height: 20vw;
}

.social-div a {
    fill: var(--color1);
    height: 5vh;
    width: 5vh;
    opacity: 0;
    transition: opacity 1s;
}

.social-img{
    height: 5vh;
    width: 5vh;
}
.social-img-lkdn{
    height: 5vh;
    width: 5.57vh;
}

.social-line-right {
    height: 25vw;
    border-left: 4px solid var(--color1);
}

.social-line-left {
    display: none;
}

@media only screen and (max-width: 768px){
    .social-div {
        flex-direction: row;
        width: 60vw;
        justify-content: center;
        backdrop-filter: blur(10px);
        padding: 0;
        margin: 0 20vw 0 20vw;
        border-radius: 30px;
    }

    .social-div a {
        height: 10vw;
        width: 10vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        opacity: 1;
        transition: none;
    }

    .social-img{
        height: 10vw;
        width: 10vw;
    }

    .social-img-lkdn{
        height: 10vw;
        width: 12vw;
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .social-line-right {
        margin-left: 2.5vw;
        margin-right: 5vw;
        height: 4px;
        width: 20vw;
        background-color: var(--white);
        border: none;
        animation: fadeInRight 3s ease;
        display: none;
    }

    .social-line-left {
        display: none;
        margin-left: 5vw;
        margin-right: 2.5vw;
        height: 4px;
        width: 20vw;
        background-color: var(--white);
        border: none;
        animation: fadeInLeft 3s ease;
    }
}

.tech-div   {
    background-color: transparent;
    z-index: 1;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    margin-top: 100vh;
}

.tech-div h1{
    margin: 0;
}

.info-div {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-top: 1px dashed var(--color1);
}

.super-about-div {
    width: 100%;
    background-color: var(--white);
    padding: 3vw 0 3vw 0;
}

.about-div {
    height: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 90vw;
}

.about-title-div {
    height: 2.5vw;
    display: flex;
    width:30vw;
    align-items: center;
    position: relative;
    margin: 15vh 10vw 10vh 5vw;
    background: linear-gradient(to right, var(--color1) 100%, rgba(255,215,0,0) 0%);
    background-position: left;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    padding-left: 2vw;
}

/* Animation class */
.animate {
    animation: marker-paint 3s ease forwards;
  }

@keyframes marker-paint {
    0% {
      background-size: 0% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }


.about-title-div h1 {
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    color: var(--color2);
    z-index: 0;
    font-family: "Anton", sans-serif;
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: "Dancing Script", cursive; */
}

.about-title-div h2 {
    display: flex;
    font-size: 3vw;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    font-family: "Dancing Script", cursive;
    text-shadow: gray 2px 2px;
    padding-left: 2vw;
}

.about-text span {
    display: inline-block;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px);
    animation: appear-letter 0.5s forwards; /* 0.5s per letter */
}

@keyframes appear-letter {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start from below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at its normal position */
    }
}

/* Add a delay for each letter */
.about-text span:nth-child(1) { animation-delay: 0s; }
.about-text span:nth-child(2) { animation-delay: 0.2s; }
.about-text span:nth-child(3) { animation-delay: 0.4s; }
.about-text span:nth-child(4) { animation-delay: 0.6s; }
.about-text span:nth-child(5) { animation-delay: 0.8s; }
.about-text span:nth-child(6) { animation-delay: 1.0s; }
.about-text span:nth-child(7) { animation-delay: 1.2s; }
.about-text span:nth-child(8) { animation-delay: 1.4s; }



.about-subtitle-div {
    text-align: center;
}

.about-subtitle-div h2 {
    font-size: 2vw;
    font-family: "Bebas Neue", sans-serif;
    color: var(--color2);
}

@media only screen and (max-width: 768px) {
    .about-div {
        margin: 2vh 5vw 0vh 5vw;
        max-width: 90vw;
    }

    .about-title-div {
        height: 4vh;
        margin: 5vh 5vw 2vh 5vw;
    }

    .about-title-div h1 {
        font-size: 15vw;
    }

    .about-title-div h2 {
        font-size: 9vw;
        text-shadow: gray 1px 1px;
    }

    .about-subtitle-div h2 {
        font-size: 3vw;
    }
}

.about-text-div {
    height: auto;
    width: 80vw;
    margin: 2vh 5vw 10vh 5vw;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.about-text {
    width: 65vw;
    align-content: center;
}

.about-div i {
    display: inline-block;
    font-size: 1.3vw;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--color2);
    line-height: 2vw;
}

.about-div .blue {
    color: var(--color1);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .about-div i {
        font-size: 3.4vw;
    }

    .about-text-div {
        margin: 2vh 7vw 10vh 7vw;
    }
}

.about-icons {
    margin-left: 3vw;
    align-content: center;
}

.about-42-icon svg {
    fill: var(--color1);
    width: 10vw;
}

.about-tackle-icon svg {
    width: 10vw;
    fill: var(--color1);
}

/* SKILLS SECTION */
  .super-skills-div {
    width: 100%;
    background-color: var(--white);
    padding: 3vw 0 3vw 0;
  }

  .skills-div {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90vw;
  }
  
  .skills-title-div {
    height: 2.5vw;
    display: flex;
    width:30vw;
    align-items: center;
    position: relative;
    margin: 15vh 10vw 10vh 5vw;
    background: linear-gradient(to right, var(--color1) 100%, rgba(255,215,0,0) 0%);
    background-position: left;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    padding-left: 2vw;
}

/* Animation class */
.skills {
    animation: marker-paint 3s ease forwards;
  }

@keyframes marker-paint {
    0% {
      background-size: 0% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }


.skills-title-div h1 {
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    color: var(--color2);
    z-index: 0;
    font-family: "Anton", sans-serif;
}

.skills-title-div h2 {
    display: flex;
    font-size: 3vw;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    font-family: "Dancing Script", cursive;
    text-shadow: gray 2px 2px;
    padding-left: 2vw;
}

.skills-text span {
    opacity: 0;
    transform: translateY(20px); /* Start position from below */
}

/* Triggered animation */
.animate span {
    animation: appearFromBelow 0.5s forwards;
}

/* Sequential delays for each letter */
.animate span:nth-child(1) { animation-delay: 0s; }
.animate span:nth-child(2) { animation-delay: 0.2s; }
.animate span:nth-child(3) { animation-delay: 0.4s; }
.animate span:nth-child(4) { animation-delay: 0.6s; }
.animate span:nth-child(5) { animation-delay: 0.8s; }
.animate span:nth-child(6) { animation-delay: 1s; }

@keyframes appearFromBelow {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End position */
    }
}


  .skills-super-container {
    display: grid;
    gap: 1vw;
    padding: 0 2vw 0 2vw;
    grid-template-columns: repeat(2, 1fr);
    width: 85vw;
    align-self: center;
}

.skills-container-div {
    justify-self: center;
    margin: 1vw;
    border: 1px solid var(--color1);
    border-radius: 8px;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.skills-container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--color1);
    margin: 1vh 1vw 5vh 1vw;
    font-size: 1.5vw;
    font-family: "Anton", sans-serif;
    font-weight: 200;
}

.skills-container-title h3 {
    margin: 0;
}

.skills-container-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 0vh 1vw 5vh 1vw;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4vw;
    padding: 0;
    transition: transform 0.3s ease;
}

.skill p {
    margin: 0;
    line-height: 1;
    padding: 10px;
    color: var(--color1);
}

.skill svg path {
    fill: var(--color1);
}

.skill:hover {
    transform: scale(1.5);
}

.skill:hover svg path,
.skill:hover p {
    fill: var(--color2); /* For SVG path */
    color: var(--color2); /* For text */
}

h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

    
@media only screen and (max-width: 768px) {

    .skills-title-div {
        height: 4vh;
        margin: 5vh 5vw 2vh 5vw;
    }

    .skills-title-div h1 {
        font-size: 15vw;
    }

    .skills-title-div h2 {
        font-size: 9vw;
        text-shadow: gray 1px 1px;
    }

    .skills-super-container {
        grid-template-columns: 1fr;
    }

    .skills-container-div {
        width: 80vw ;
        margin: 2vh 0 2vh 0;
        padding: 1vh 0 2vh 0;
    }

    .skills-container-title {
        font-size: 4vw;
    }

    .skills-container-items {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 100%;
    }

    .skill {
        height: 10vh;
    }
  }

/* ACHIEVEMENTS */

.super-achiev-div {
    width: 100%;
    padding: 3vw 0 3vw 0;
    background-color: var(--white);
}

.achiev-div {
    background-color: none;
    width: 100%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.achiev-title-div {
    height: 2.5vw;
    display: flex;
    width:30vw;
    align-items: center;
    position: relative;
    margin: 15vh 10vw 10vh 5vw;
    background: linear-gradient(to right, var(--color1) 100%, rgba(255,215,0,0) 0%);
    background-position: left;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    padding-left: 2vw;
}

@keyframes marker-paint {
    0% {
      background-size: 0% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }


.achiev-title-div h1 {
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    color: var(--color2);
    z-index: 0;
    font-family: "Anton", sans-serif;
}

.achiev-title-div h2 {
    display: flex;
    font-size: 3vw;
    font-weight: 700;
    color: var(--white);
    z-index: 1;
    font-family: "Dancing Script", cursive;
    text-shadow: gray 2px 2px;
    padding-left: 2vw;
}

.achiev-text span {
    opacity: 0;
    transform: translateY(20px); /* Start position from below */
}

/* Triggered animation */
.animate span {
    animation: appearFromBelow 0.5s forwards;
}
/* Sequential delays for each letter */
.animate span:nth-child(1) { animation-delay: 0s; }
.animate span:nth-child(2) { animation-delay: 0.2s; }
.animate span:nth-child(3) { animation-delay: 0.4s; }
.animate span:nth-child(4) { animation-delay: 0.6s; }
.animate span:nth-child(5) { animation-delay: 0.8s; }
.animate span:nth-child(6) { animation-delay: 1s; }
.animate span:nth-child(7) { animation-delay: 1.2s; }
.animate span:nth-child(8) { animation-delay: 1.4s; }
.animate span:nth-child(9) { animation-delay: 1.6s; }
.animate span:nth-child(10) { animation-delay: 1.8s; }
.animate span:nth-child(11) { animation-delay: 2s; }
.animate span:nth-child(12) { animation-delay: 2.2s; }

@keyframes appearFromBelow {
    from {
        opacity: 0;
        transform: translateY(20px); /* Start below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End position */
    }
}

.achiev-carousel-div {
    width: 80vw;
    align-self: center;
}

.swiper {
    width: 100%;
    height: 30vw;
  }

.swiper-slide .two {
    background-color: blue;
    height: 100%;
    width: 100%;
}
.swiper-slide .three {
    background-color: green;
    height: 100%;
    width: 100%;
}

.slide-div {
    width: 70vw;
    padding: 0 5vw 0 5vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.slide-main-pic-div {
    width: 50vw;
    align-self: center;
    display: flex;
    align-items: center;
}

.slide-main-pic-div svg {
    position: absolute;
    width: 50vw;
    z-index: 1;
}


.slide-main-pic-div .line {
    stroke-dasharray: 260;
    stroke-width: 3px;
    fill: transparent;
    stroke: var(--color1);
    animation: svgAnimation 2.5s linear infinite;
}


@keyframes svgAnimation {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}
  
  

.slide-main-pic-div img {
    width: 50vw;
    z-index: 0;
}

.slide-small-pic-div {
    background-color: green;
    position: absolute;
    left: 34%;
    top: 2%;
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.slide-text-title-div {
    width: 40%;
    margin-top: 6%;
    padding-right: 1vw;
    justify-content: right;
    text-align: right;
    height: fit-content;
    color: var(--color2);
    font-family: "Merriweather", serif;
    font-size: 1.3vw;
    font-weight: 900;
}

.slide-text-div {
    background-color: rgba(141, 236, 180, 0.95);
    position: absolute;
    width: 45%;
    right: 6vw;
    top: 25%;
    box-shadow: 10px 5px 5px black;
    padding: 2vw;
    z-index: 100;
}

.slide-text-div i {
    font-family: "Merriweather", serif;
    font-size: 1vw;
}

.slide-links-div {
    position: absolute;
    right: 6vw;
    top: 80%;
    display: flex;
    flex-direction: row;
    width: 5vw;
    gap: 1vw;
}

.slide-links-div svg {
    fill: var(--color2);
    width: 2vw;
}