* {
    margin: 0;
}

#back_img {
    background-image: url("img/background7.jpg");
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

#placeholdersoyoucanscroll{
    margin-top: 2px;
    height:100vh
}

#navbar {
    top: 20px;
    background: none;
    position: fixed;
    width: 100%;
    transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    text-align: center;
}

#navbar a {
    display: inline-block;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 3px 3px black;
    text-decoration-line:overline underline;
    color: beige;
}

#navbar a:hover {
    color: rgb(65, 65, 65);
}

#info   {
    background-color: beige;
    color: white;
    padding: 0;
    margin: 0;
    height:100vh;
}

.who-div    {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.who-title-div {
    text-align: center;
    color: black;
    display: inline-block;
    width: 100%;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
}

.who-text-div   {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    width: 100%;
}